/* ----- ----- ----- ----- */
/* ----- ----- ----- ----- */
h1, h2, h3 {
    color: green;
}

/* .carousel {
    width:640px;
    height:360px;
} */

.carousel-control-prev, .carousel-control-prev-icon,
.carousel-control-next, .carousel-control-next-icon
{
    color: green;
}